@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slideInLeft {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInTop {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideInBottom {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes blurIn {
	from {
		filter: blur(10px);
		opacity: 0;
	}
	to {
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes blurOutHidden {
	0% {
		filter: blur(0);
		opacity: 1;
	}
	50% {
		filter: blur(10px);
		opacity: 0.5;
	}
	100% {
		filter: blur(20px);
		opacity: 0;
	}
}
