.recipe-card {
  border-radius: 1rem;
  overflow: hidden;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  background-color: var(--color-white);
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px var(--color-shadow) !important;
}

.recipe-card__time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5ch;
  font-size: 0.75rem;
  padding: 0.5em 1em !important;

  * {
    font-size: 1em;
  }
}

.recipe-card__time svg {
  aspect-ratio: 1;
  height: 1rem;
}

.recipe-card__title {
  font-family: var(--font-serif);
  font-size: 1.25rem;
}

.recipe-card__desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.95rem;
}

.recipe-card__author-img {
  width: 1.75rem;
  height: 1.75rem;
  object-fit: cover;
}

.recipe-card .card-img-top {
  aspect-ratio: 4/3;
  height: 15em;
  object-fit: cover;
}

#noti-modal .modal-content {
  border: none;
  border-radius: 0.5em;
  box-shadow: var(--shadow-md);
}

#noti-modal .modal-header {
  padding: 1.5rem 1.5rem 0.5rem;
}

#noti-modal .modal-title {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primary);

  display: flex;
  align-items: center;
  gap: 0.75ch;
}

#noti-modal .btn-close {
  font-size: 0.875rem;
}

#noti-modal .modal-body {
  padding: 1.5rem 2rem 2rem;
}

#noti-modal .modal-icon {
  aspect-ratio: 1;
  width: 1em;
  height: 1em;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

#noti-modal .modal-icon.success {
  background-color: var(--color-success-bg);
  color: var(--color-success);
}

#noti-modal .modal-icon.error {
  background-color: var(--color-error-bg);
  color: var(--color-error);
}

#noti-modal .modal-icon.warning {
  background-color: var(--color-warn-bg);
  color: var(--color-warn);
}

#noti-modal .modal-icon.info {
  background-color: var(--color-info-bg);
  color: var(--color-info);
}

#noti-modal .modal-message {
  font-size: 1rem;
  color: var(--color-text);
  line-height: 1.6;
}

#noti-modal .modal-footer {
  padding: 0 1.5rem 1.5rem;
}

#noti-modal .modal-footer .btn {
  min-width: 100px;
  border-radius: 0.5rem;
  font-weight: 500;
}
