@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --font-main: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;

  --color-bg: #ffffff;
  --color-bg-alt: #f2f2f2;
  --color-text: #171717;
  --color-text-secondary: #404040;
  --color-text-muted: #9d9d9d;
  --color-border: #eaeaea;
  --color-white: #ffffff;
  --color-gray: #808080;
  --color-gray-dark: #404040;

  --color-primary: #171717;
  --color-primary-dark: #000000;
  --color-secondary: #404040;
  --color-accent: #ff8c45;
  --color-accent-dark: #f07e38;

  --color-success: #15803d;
  --color-success-bg: #f0fdf4;

  --color-info: #1d4ed8;
  --color-info-bg: #eff6ff;

  --color-warn: #d4a017;
  --color-warn-bg: #fefce8;

  --color-error: #b91c1c;
  --color-error-bg: #fef2f2;

  --shadow-sm: 0 0.0625rem 0.125rem var(--color-shadow);
  --shadow-md: 0 0.25rem 0.375rem -0.0625rem var(--color-shadow-dark);
  --shadow-lg: 0 0.625rem 0.9375rem -0.1875rem var(--color-shadow-dark);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-dark: rgba(0, 0, 0, 0.2);

  --max-width-container: 1200px;
  --header-height: 4.5rem;

  --bs-font-sans-serif: var(--font-main);
  --bs-font-serif: var(--font-serif);
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, monospace;
}
