@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
	--font-main: 'Inter', sans-serif;
	--font-serif: 'Lobster', cursive;

	--color-primary: rgb(47, 47, 47);
	--color-white: #ffffff;
	--color-bg-body: #ffffff;
	--color-bg-light: #f5f5f5;
	--color-border: #e0e0e0;
	--color-text-body: rgb(47, 47, 47);
	--color-text-inverse: #ffffff;
	--color-shadow: rgba(0, 0, 0, 0.1);
	--color-accent--orange: #ff6932;

	--max-width-container: 1200px;
	--header-height: 4.5rem;

	/* Bootstrap overrides */
	--bs-font-sans-serif: 'Inter', system-ui, -apple-system, 'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}
